body{
  margin: 0px;
  padding: 0px;

  font-family: 微软雅黑;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
a,a:hover{color:#FFF;text-decoration:none;}

*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
    color: white;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  width: 500px;
  margin: 100px auto 20px;
  color: #f0f0f0;
  text-align: center;
}

.nav {
  width:1100px;
  margin: 0 auto;

  color: #f0f0f0;
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
  font-size:14px;
  color: white;
}
.nav_menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_menu-item {
  display: inline-block;
  position: relative;
}
.nav_menu-item:hover {
  background-color: #1794ba;
}
.nav_menu-item:hover .nav_submenu {
  display: block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color: #1794ba;
  z-index: 1000;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.form {
    margin-top: 30px;
    margin-bottom: 30px;
}
